<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyin.ebl.dao.order.LicenseOrderProductMapper">
	<resultMap id="BaseResultMap" type="com.wangyin.ebl.po.order.LicenseOrderProduct">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="order_no" jdbcType="VARCHAR" property="orderNo" />
		<result column="product_type" jdbcType="VARCHAR" property="productType" />
		<result column="product_name" jdbcType="VARCHAR" property="productName" />
		<result column="product_des" jdbcType="VARCHAR" property="productDes" />
		<result column="product_price" jdbcType="DECIMAL" property="productPrice" />
		<result column="product_count" jdbcType="INTEGER" property="productCount" />
		<result column="product_id" jdbcType="VARCHAR" property="productId" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="db_status" jdbcType="TINYINT" property="dbStatus" />
		<result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
		<result column="created" jdbcType="VARCHAR" property="created" />
		<result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
		<result column="modified" jdbcType="VARCHAR" property="modified" />
		<result column="biz_id" jdbcType="VARCHAR" property="bizId" />
		
		<association property="licenseBusinessLicense"
			javaType="com.wangyin.ebl.po.license.LicenseBusinessLicense">
			<id column="id" property="id" />
			<result column="user_id" property="userId" />
			<result column="ent_id" property="entId" />
			<result column="tax_no" property="taxNo" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, order_no, product_type, product_name,
		product_des,
		product_price, product_count,
		product_id, remark,
		db_status, created_date, created, modified_date, modified
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from license_order_product
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByBizId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from license_order_product
		where biz_id = #{id,jdbcType=VARCHAR}
	</select>
	<select id="selectByUserId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from license_order_product
		where user_id = #{id,jdbcType=VARCHAR}
	</select>
	<select id="selectByOrderNo" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from license_order_product
		where order_no = #{id,jdbcType=VARCHAR}
	</select>
	<select id="selectByEntId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		*
		from license_order_product l,
		license_business_license r
		where l.user_id =
		l.user_id
		and r.ent_id =
		#{ent_id,jdbcType=VARCHAR}
	</select>
	<select id="selectByTaxNo" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		*
		from license_order_product l,
		license_business_license r
		where l.user_id =
		l.user_id
		and r.tax_no =
		#{tax_no,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		license_order_product
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.wangyin.ebl.po.order.LicenseOrderProduct">
		insert into
		license_order_product (id, user_id, order_no,
		product_type,
		product_name, product_des,
		product_price, product_count, product_id,
		remark, db_status, created_date,
		created, modified_date, modified
		)
		values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR},
		#{orderNo,jdbcType=VARCHAR},
		#{productType,jdbcType=VARCHAR},
		#{productName,jdbcType=VARCHAR}, #{productDes,jdbcType=VARCHAR},
		#{productPrice,jdbcType=DECIMAL}, #{productCount,jdbcType=INTEGER},
		#{productId,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},
		#{dbStatus,jdbcType=TINYINT}, #{createdDate,jdbcType=TIMESTAMP},
		#{created,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP},
		#{modified,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.wangyin.ebl.po.order.LicenseOrderProduct">
		insert into license_order_product
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="orderNo != null">
				order_no,
			</if>
			<if test="productType != null">
				product_type,
			</if>
			<if test="productName != null">
				product_name,
			</if>
			<if test="productDes != null">
				product_des,
			</if>
			<if test="productPrice != null">
				product_price,
			</if>
			<if test="productCount != null">
				product_count,
			</if>
			<if test="productId != null">
				product_id,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="dbStatus != null">
				db_status,
			</if>
			<if test="createdDate != null">
				created_date,
			</if>
			<if test="created != null">
				created,
			</if>
			<if test="modifiedDate != null">
				modified_date,
			</if>
			<if test="modified != null">
				modified,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="orderNo != null">
				#{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="productType != null">
				#{productType,jdbcType=VARCHAR},
			</if>
			<if test="productName != null">
				#{productName,jdbcType=VARCHAR},
			</if>
			<if test="productDes != null">
				#{productDes,jdbcType=VARCHAR},
			</if>
			<if test="productPrice != null">
				#{productPrice,jdbcType=DECIMAL},
			</if>
			<if test="productCount != null">
				#{productCount,jdbcType=INTEGER},
			</if>
			<if test="productId != null">
				#{productId,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="dbStatus != null">
				#{dbStatus,jdbcType=TINYINT},
			</if>
			<if test="createdDate != null">
				#{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="created != null">
				#{created,jdbcType=VARCHAR},
			</if>
			<if test="modifiedDate != null">
				#{modifiedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modified != null">
				#{modified,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wangyin.ebl.po.order.LicenseOrderProduct">
		update license_order_product
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="orderNo != null">
				order_no = #{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="productType != null">
				product_type = #{productType,jdbcType=VARCHAR},
			</if>
			<if test="productName != null">
				product_name = #{productName,jdbcType=VARCHAR},
			</if>
			<if test="productDes != null">
				product_des = #{productDes,jdbcType=VARCHAR},
			</if>
			<if test="productPrice != null">
				product_price = #{productPrice,jdbcType=DECIMAL},
			</if>
			<if test="productCount != null">
				product_count = #{productCount,jdbcType=INTEGER},
			</if>
			<if test="productId != null">
				product_id = #{productId,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="dbStatus != null">
				db_status = #{dbStatus,jdbcType=TINYINT},
			</if>
			<if test="createdDate != null">
				created_date = #{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="created != null">
				created = #{created,jdbcType=VARCHAR},
			</if>
			<if test="modifiedDate != null">
				modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modified != null">
				modified = #{modified,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wangyin.ebl.po.order.LicenseOrderProduct">
		update
		license_order_product
		set user_id = #{userId,jdbcType=VARCHAR},
		order_no = #{orderNo,jdbcType=VARCHAR},
		product_type =
		#{productType,jdbcType=VARCHAR},
		product_name =
		#{productName,jdbcType=VARCHAR},
		product_des =
		#{productDes,jdbcType=VARCHAR},
		product_price =
		#{productPrice,jdbcType=DECIMAL},
		product_count =
		#{productCount,jdbcType=INTEGER},
		product_id =
		#{productId,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		db_status = #{dbStatus,jdbcType=TINYINT},
		created_date =
		#{createdDate,jdbcType=TIMESTAMP},
		created =
		#{created,jdbcType=VARCHAR},
		modified_date =
		#{modifiedDate,jdbcType=TIMESTAMP},
		modified =
		#{modified,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>