<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyin.ebl.dao.enterprise.LicenseEntAuthMapper">
	<resultMap id="BaseResultMap" type="com.wangyin.ebl.po.enterprise.LicenseEntAuth">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="ent_id" jdbcType="VARCHAR" property="entId" />
		<result column="auth_name" jdbcType="VARCHAR" property="authName" />
		<result column="auth_certid" jdbcType="VARCHAR" property="authCertid" />
		<result column="auth_certty" jdbcType="VARCHAR" property="authCertty" />
		<result column="auth_type" jdbcType="TINYINT" property="authType" />
		<result column="permission_list" jdbcType="VARCHAR" property="permissionList" />
		<result column="db_status" jdbcType="TINYINT" property="dbStatus" />
		<result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
		<result column="created" jdbcType="VARCHAR" property="created" />
		<result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
		<result column="modified" jdbcType="VARCHAR" property="modified" />

		<association property="licenseEntLogin"
			javaType="com.wangyin.ebl.po.enterprise.LicenseEntLogin">
			<id column="id" property="id" />
			<result column="ent_id" property="entId" />
			<result column="ent_name" property="entName" />
		</association>
		<association property="licenseServiceApply"
			javaType="com.wangyin.ebl.po.enterprise.LicenseServiceApply">
			<id column="id" property="id" />
			<result column="ent_id" property="entId" />
			<result column="tax_no" property="taxNo" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		id, ent_id, auth_name, auth_certid, auth_certty, auth_type,
		permission_list, db_status,
		created_date, created, modified_date,
		modified
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from license_ent_auth
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByEntId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from license_ent_auth
		where ent_id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByEntName" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		*
		from license_ent_auth b, license_ent_login l where b.ent_id = l.ent_id
		and l.ent_name = #{ent_name,jdbcType=VARCHAR}
	</select>
	<select id="selectByTaxNo" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		*
		from license_ent_auth b, license_service_apply l where b.ent_id = l.ent_id
		and l.tax_no = #{tax_no,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		license_ent_auth
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.wangyin.ebl.po.enterprise.LicenseEntAuth">
		insert into license_ent_auth
		(id, ent_id, auth_name,
		auth_certid, auth_certty, auth_type,
		permission_list, db_status, created_date,
		created, modified_date,
		modified
		)
		values (#{id,jdbcType=INTEGER}, #{entId,jdbcType=VARCHAR},
		#{authName,jdbcType=VARCHAR},
		#{authCertid,jdbcType=VARCHAR},
		#{authCertty,jdbcType=VARCHAR}, #{authType,jdbcType=TINYINT},
		#{permissionList,jdbcType=VARCHAR}, #{dbStatus,jdbcType=TINYINT},
		#{createdDate,jdbcType=TIMESTAMP},
		#{created,jdbcType=VARCHAR},
		#{modifiedDate,jdbcType=TIMESTAMP}, #{modified,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.wangyin.ebl.po.enterprise.LicenseEntAuth">
		insert into license_ent_auth
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="entId != null">
				ent_id,
			</if>
			<if test="authName != null">
				auth_name,
			</if>
			<if test="authCertid != null">
				auth_certid,
			</if>
			<if test="authCertty != null">
				auth_certty,
			</if>
			<if test="authType != null">
				auth_type,
			</if>
			<if test="permissionList != null">
				permission_list,
			</if>
			<if test="dbStatus != null">
				db_status,
			</if>
			<if test="createdDate != null">
				created_date,
			</if>
			<if test="created != null">
				created,
			</if>
			<if test="modifiedDate != null">
				modified_date,
			</if>
			<if test="modified != null">
				modified,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="entId != null">
				#{entId,jdbcType=VARCHAR},
			</if>
			<if test="authName != null">
				#{authName,jdbcType=VARCHAR},
			</if>
			<if test="authCertid != null">
				#{authCertid,jdbcType=VARCHAR},
			</if>
			<if test="authCertty != null">
				#{authCertty,jdbcType=VARCHAR},
			</if>
			<if test="authType != null">
				#{authType,jdbcType=TINYINT},
			</if>
			<if test="permissionList != null">
				#{permissionList,jdbcType=VARCHAR},
			</if>
			<if test="dbStatus != null">
				#{dbStatus,jdbcType=TINYINT},
			</if>
			<if test="createdDate != null">
				#{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="created != null">
				#{created,jdbcType=VARCHAR},
			</if>
			<if test="modifiedDate != null">
				#{modifiedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modified != null">
				#{modified,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wangyin.ebl.po.enterprise.LicenseEntAuth">
		update license_ent_auth
		<set>
			<if test="entId != null">
				ent_id = #{entId,jdbcType=VARCHAR},
			</if>
			<if test="authName != null">
				auth_name = #{authName,jdbcType=VARCHAR},
			</if>
			<if test="authCertid != null">
				auth_certid = #{authCertid,jdbcType=VARCHAR},
			</if>
			<if test="authCertty != null">
				auth_certty = #{authCertty,jdbcType=VARCHAR},
			</if>
			<if test="authType != null">
				auth_type = #{authType,jdbcType=TINYINT},
			</if>
			<if test="permissionList != null">
				permission_list = #{permissionList,jdbcType=VARCHAR},
			</if>
			<if test="dbStatus != null">
				db_status = #{dbStatus,jdbcType=TINYINT},
			</if>
			<if test="createdDate != null">
				created_date = #{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="created != null">
				created = #{created,jdbcType=VARCHAR},
			</if>
			<if test="modifiedDate != null">
				modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modified != null">
				modified = #{modified,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wangyin.ebl.po.enterprise.LicenseEntAuth">
		update
		license_ent_auth
		set ent_id = #{entId,jdbcType=VARCHAR},
		auth_name =
		#{authName,jdbcType=VARCHAR},
		auth_certid =
		#{authCertid,jdbcType=VARCHAR},
		auth_certty =
		#{authCertty,jdbcType=VARCHAR},
		auth_type =
		#{authType,jdbcType=TINYINT},
		permission_list =
		#{permissionList,jdbcType=VARCHAR},
		db_status =
		#{dbStatus,jdbcType=TINYINT},
		created_date =
		#{createdDate,jdbcType=TIMESTAMP},
		created =
		#{created,jdbcType=VARCHAR},
		modified_date =
		#{modifiedDate,jdbcType=TIMESTAMP},
		modified =
		#{modified,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>