<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyin.ebl.dao.tax.LicenseDzfContactMapper">
	<resultMap id="BaseResultMap" type="com.wangyin.ebl.po.tax.LicenseDzfContact">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="tax_no" jdbcType="VARCHAR" property="taxNo" />
		<result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
		<result column="service_begin_date" jdbcType="TIMESTAMP"
			property="serviceBeginDate" />
		<result column="service_end_date" jdbcType="TIMESTAMP"
			property="serviceEndDate" />
		<result column="declare_document" jdbcType="VARCHAR" property="declareDocument" />
		<result column="db_status" jdbcType="TINYINT" property="dbStatus" />
		<result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
		<result column="created" jdbcType="VARCHAR" property="created" />
		<result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
		<result column="modified" jdbcType="VARCHAR" property="modified" />

		<association property="licenseTaxInfo"
			javaType="com.wangyin.ebl.po.tax.LicenseTaxInfo">
			<id column="id" property="id" />
			<result column="tax_no" property="taxNo" />
			<result column="ent_id" property="entId" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		id, tax_no, contract_no, service_begin_date,
		service_end_date,
		declare_document,
		db_status, created_date, created,
		modified_date, modified
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from license_dzf_contract
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByEntId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		*
		from license_dzf_contract l,license_tax_info r
		where
		l.tax_no = r.tax_no and r.ent_id = #{ent_id,jdbcType=VARCHAR}
	</select>
	<select id="selectByTaxNo" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from license_dzf_contract
		where tax_no = #{tax_no,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		license_dzf_contract
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.wangyin.ebl.po.tax.LicenseDzfContact">
		insert into
		license_dzf_contract (id, tax_no, contract_no,
		service_begin_date,
		service_end_date, declare_document,
		db_status, created_date, created,
		modified_date, modified)
		values (#{id,jdbcType=INTEGER},
		#{taxNo,jdbcType=VARCHAR},
		#{contractNo,jdbcType=VARCHAR},
		#{serviceBeginDate,jdbcType=TIMESTAMP},
		#{serviceEndDate,jdbcType=TIMESTAMP},
		#{declareDocument,jdbcType=VARCHAR},
		#{dbStatus,jdbcType=TINYINT},
		#{createdDate,jdbcType=TIMESTAMP}, #{created,jdbcType=VARCHAR},
		#{modifiedDate,jdbcType=TIMESTAMP}, #{modified,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.wangyin.ebl.po.tax.LicenseDzfContact">
		insert into license_dzf_contract
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="taxNo != null">
				tax_no,
			</if>
			<if test="contractNo != null">
				contract_no,
			</if>
			<if test="serviceBeginDate != null">
				service_begin_date,
			</if>
			<if test="serviceEndDate != null">
				service_end_date,
			</if>
			<if test="declareDocument != null">
				declare_document,
			</if>
			<if test="dbStatus != null">
				db_status,
			</if>
			<if test="createdDate != null">
				created_date,
			</if>
			<if test="created != null">
				created,
			</if>
			<if test="modifiedDate != null">
				modified_date,
			</if>
			<if test="modified != null">
				modified,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="taxNo != null">
				#{taxNo,jdbcType=VARCHAR},
			</if>
			<if test="contractNo != null">
				#{contractNo,jdbcType=VARCHAR},
			</if>
			<if test="serviceBeginDate != null">
				#{serviceBeginDate,jdbcType=TIMESTAMP},
			</if>
			<if test="serviceEndDate != null">
				#{serviceEndDate,jdbcType=TIMESTAMP},
			</if>
			<if test="declareDocument != null">
				#{declareDocument,jdbcType=VARCHAR},
			</if>
			<if test="dbStatus != null">
				#{dbStatus,jdbcType=TINYINT},
			</if>
			<if test="createdDate != null">
				#{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="created != null">
				#{created,jdbcType=VARCHAR},
			</if>
			<if test="modifiedDate != null">
				#{modifiedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modified != null">
				#{modified,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wangyin.ebl.po.tax.LicenseDzfContact">
		update license_dzf_contract
		<set>
			<if test="taxNo != null">
				tax_no = #{taxNo,jdbcType=VARCHAR},
			</if>
			<if test="contractNo != null">
				contract_no = #{contractNo,jdbcType=VARCHAR},
			</if>
			<if test="serviceBeginDate != null">
				service_begin_date =
				#{serviceBeginDate,jdbcType=TIMESTAMP},
			</if>
			<if test="serviceEndDate != null">
				service_end_date = #{serviceEndDate,jdbcType=TIMESTAMP},
			</if>
			<if test="declareDocument != null">
				declare_document = #{declareDocument,jdbcType=VARCHAR},
			</if>
			<if test="dbStatus != null">
				db_status = #{dbStatus,jdbcType=TINYINT},
			</if>
			<if test="createdDate != null">
				created_date = #{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="created != null">
				created = #{created,jdbcType=VARCHAR},
			</if>
			<if test="modifiedDate != null">
				modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modified != null">
				modified = #{modified,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wangyin.ebl.po.tax.LicenseDzfContact">
		update
		license_dzf_contract
		set tax_no = #{taxNo,jdbcType=VARCHAR},
		contract_no = #{contractNo,jdbcType=VARCHAR},
		service_begin_date =
		#{serviceBeginDate,jdbcType=TIMESTAMP},
		service_end_date =
		#{serviceEndDate,jdbcType=TIMESTAMP},
		declare_document =
		#{declareDocument,jdbcType=VARCHAR},
		db_status =
		#{dbStatus,jdbcType=TINYINT},
		created_date =
		#{createdDate,jdbcType=TIMESTAMP},
		created =
		#{created,jdbcType=VARCHAR},
		modified_date =
		#{modifiedDate,jdbcType=TIMESTAMP},
		modified =
		#{modified,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>