<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyin.ebl.dao.user.LicenseUserBasicMapper">
  <resultMap id="BaseResultMap" type="com.wangyin.ebl.po.user.LicenseUserBasic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="cert_no" jdbcType="VARCHAR" property="certNo" />
    <result column="cert_type" jdbcType="VARCHAR" property="certType" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="active_flag" jdbcType="TINYINT" property="activeFlag" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="created" jdbcType="VARCHAR" property="created" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="modified" jdbcType="VARCHAR" property="modified" />
    
    <association property="licenseUserLogin" javaType="com.wangyin.ebl.po.user.LicenseUserLogin">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="user_id" property="userId"/>
     </association>
  </resultMap>
  
  <sql id="Base_Column_List">
    id, user_id, name, cert_no, cert_type, telephone, status, active_flag, created_date, 
    created, modified_date, modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from license_user_basic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from license_user_basic
    where user_id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
   *
    from license_user_basic b, license_user_login l where b.user_id = l.user_id
    and l.login_name = #{login_name,jdbcType=VARCHAR}
  </select>
    
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from license_user_basic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wangyin.ebl.po.user.LicenseUserBasic">
    insert into license_user_basic (id, user_id, name, 
      cert_no, cert_type, telephone, 
      status, active_flag, created_date, 
      created, modified_date, modified
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{certNo,jdbcType=VARCHAR}, #{certType,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{activeFlag,jdbcType=TINYINT}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{created,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, #{modified,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangyin.ebl.po.user.LicenseUserBasic">
    insert into license_user_basic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="certNo != null">
        cert_no,
      </if>
      <if test="certType != null">
        cert_type,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="activeFlag != null">
        active_flag,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="modified != null">
        modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="certNo != null">
        #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="certType != null">
        #{certType,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="activeFlag != null">
        #{activeFlag,jdbcType=TINYINT},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null">
        #{created,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        #{modified,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangyin.ebl.po.user.LicenseUserBasic">
    update license_user_basic
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="certNo != null">
        cert_no = #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="certType != null">
        cert_type = #{certType,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="activeFlag != null">
        active_flag = #{activeFlag,jdbcType=TINYINT},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangyin.ebl.po.user.LicenseUserBasic">
    update license_user_basic
    set user_id = #{userId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      cert_no = #{certNo,jdbcType=VARCHAR},
      cert_type = #{certType,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      active_flag = #{activeFlag,jdbcType=TINYINT},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      created = #{created,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      modified = #{modified,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>